.navbar{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #c2b9b9;
    color: white;
    border-bottom: 1px solid black;
}
.logo{
    font-size: 16px;
    color: rgb(10, 10, 10);
    font-weight: 700;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-container{
    margin-left: 300px;
}
.search{
    width: 350px;
    padding: 12px;
    border: none;
    height: 30px;
    border-radius: 5px;
}

@media (max-width: 1024px){
    .search-container{
        margin-left: 200px;
}
    .search{
        width: 300px;
    }
}
@media (max-width: 768px){
    .search-container{
        margin-left: 100px;
}
    .search{
        width: 250px;
    }
}
@media (max-width: 480px){
    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .search-container{
        margin-left: 0;
    }

    .search{
        width: 300px;
    }
}
@media (max-width: 360px){
    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .search-container{
        margin-left: 0;
    }

    .search{
        width: 200px;
    }
}